$loadingColor: red;

body,
html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
    // background-color: #fafafa;
}

#root {
    width: 100%;
    height: 100%;
    // padding: env(safe-area-inset-top) env(safe-area-inset-right)
    //     env(safe-area-inset-bottom) env(safe-area-inset-left);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

.download-app-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    width: 250px;
    height: 83px;
}

.download-playstore {
    width: 259px;
    height: 100px;
}

.download-appstore {
    border-radius: 13px;
    width: 250px;
    height: 83px;
}

/**
 * ==============================================
 * Dot Bricks
 * ==============================================
 */
.dot-bricks {
    position: relative;
    top: 8px;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $loadingColor;
    color: $loadingColor;
    box-shadow: 9991px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor,
        10007px 0 0 0 $loadingColor;
    animation: dot-bricks 2s infinite ease;
}

@keyframes dot-bricks {
    0% {
        box-shadow: 9991px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor,
            10007px 0 0 0 $loadingColor;
    }
    8.333% {
        box-shadow: 10007px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor,
            10007px 0 0 0 $loadingColor;
    }
    16.667% {
        box-shadow: 10007px -16px 0 0 $loadingColor,
            9991px -16px 0 0 $loadingColor, 10007px 0 0 0 $loadingColor;
    }
    25% {
        box-shadow: 10007px -16px 0 0 $loadingColor,
            9991px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor;
    }
    33.333% {
        box-shadow: 10007px 0 0 0 $loadingColor, 9991px -16px 0 0 $loadingColor,
            9991px 0 0 0 $loadingColor;
    }
    41.667% {
        box-shadow: 10007px 0 0 0 $loadingColor, 10007px -16px 0 0 $loadingColor,
            9991px 0 0 0 $loadingColor;
    }
    50% {
        box-shadow: 10007px 0 0 0 $loadingColor, 10007px -16px 0 0 $loadingColor,
            9991px -16px 0 0 $loadingColor;
    }
    58.333% {
        box-shadow: 9991px 0 0 0 $loadingColor, 10007px -16px 0 0 $loadingColor,
            9991px -16px 0 0 $loadingColor;
    }
    66.666% {
        box-shadow: 9991px 0 0 0 $loadingColor, 10007px 0 0 0 $loadingColor,
            9991px -16px 0 0 $loadingColor;
    }
    75% {
        box-shadow: 9991px 0 0 0 $loadingColor, 10007px 0 0 0 $loadingColor,
            10007px -16px 0 0 $loadingColor;
    }
    83.333% {
        box-shadow: 9991px -16px 0 0 $loadingColor, 10007px 0 0 0 $loadingColor,
            10007px -16px 0 0 $loadingColor;
    }
    91.667% {
        box-shadow: 9991px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor,
            10007px -16px 0 0 $loadingColor;
    }
    100% {
        box-shadow: 9991px -16px 0 0 $loadingColor, 9991px 0 0 0 $loadingColor,
            10007px 0 0 0 $loadingColor;
    }
}
